---
let appName = import.meta.env.PUBLIC_APP_NAME;

export interface Props {
    logo?: string;
    navigation?: {
        name: string;
        href: string;
    }[];
}

const { 
    logo = null,
    navigation = [
        { name: "Home", href: "/" },
        { name: "Events", href: "#events" },
        { name: "Courses", href: "#courses" },
        { name: "Videos", href: "#videos" },
        { name: "About", href: "#about" },
        { name: "Contact", href: "#contact" },
] } = Astro.props

---

<section x-data="{ atTop: true, open: false }">
    
    <div class="fixed z-50 w-full px-4 transition-all duration-1000 rounded-none sm:rounded-full mt-0 sm:mt-2 max-w-4xl inset-x-0 mx-auto ease-in-out transform bg-slate-900" :class="{ 'bg-slate-900 backdrop-blur-xl max-w-7xl px-2': !atTop, 'max-w-4xl': atTop }"
      @scroll.window="atTop = (window.pageYOffset > 50 ? false : true)">
    
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button @click="open = !open" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Open main menu</span>
                    <!-- Icon when menu is closed. Menu open: "hidden", Menu closed: "block" -->
                    <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <!-- Icon when menu is open.    Menu open: "block", Menu closed: "hidden" -->
                    <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-between">
                <div class="flex flex-shrink-0 items-center">
                    <a href="/" class="-m-1.5 p-1.5">
                        <span class="sr-only">{appName}</span>                        
                        {
                            logo ? <img class="h-8 w-auto" src="${logo}" alt={appName} /> : <a href="/" class="text-xl font-black leading-none select-none logo hover:opacity-50 text-slate-100 hover:text-white dark:text-white">{appName}<span class="text-brand">.</span></a>
                        }
                      </a>                    
                </div>
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-2">
                        {   navigation.map((item: { href: string | URL | null | undefined; name: string | unknown; }) => (
                                <a href={item.href} class="hover:bg-brand text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">{item.name}</a>    
                            ))
                        }
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0 space-x-2">
                <!-- <button type="button" class="relative rounded-full bg-gray-800 p-2 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">Translations</span>
                    <Icon name="bi:translate"/>
                </button>
                <button type="button" class="relative rounded-full bg-gray-800 p-2 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">Translations</span>
                    <Icon name="bi:moon"/>
                </button> -->
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div x-show="open" @click.outside="open = false" class="sm:hidden bg-slate-900/90" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            {   navigation.map((item: { href: string | URL | null | undefined; name: string | unknown; }) => (
                    <a href={item.href} class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">{item.name}</a>    
                ))
            }        
        </div>
    </div>

</section>